[user]
  name = Guy Royse
  email = guy@guy.dev

[color]
  ui = true

[alias]
  co = checkout
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[push]
  default = simple

[init]
  defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
	contenttype = 0
[safe]
	directory = /Users/guyroyse/redis-8.0.1/modules/redisearch/src
